@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image {
  background-image: url('./assets/entry.jpg'); 
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Ensure the image covers full viewport height */
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  text-align: center; /* Center the text within its container */
}

.hero-text {
  color: white; /* Or any contrasting color */
  font-size: 100px;
  font-weight: 700;
  padding: 20px; 
}

/* h1 {
  
  margin-bottom: 0.5em;
  background: linear-gradient(270deg,rgb(255, 0, 0),YELLOW);
}
p{
  color:rgb(26, 24, 27);
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
button{
  font-size: 40px;
} */