/*.name-in,.password-in{
    align-items: center;
    border-radius: 20px;
    align-items:inherit;
    align-self: auto;
    display:flex;
    
}
label{
    align-items: center;
    border-radius: 20px;
    align-items:inherit;
    align-self: auto;
    display:flex;
}*/