/* Basic reset for margin and padding */
.body {
    background-color: #e0f7fa; /* Page background aligned with theme */
    padding: 50px 0;
}

.login-container {
    margin: 10px auto;
    padding: 50px;
    background-color: #e0f7fa; /* Light blue background */
    border-radius: 40px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 150, 136, 0.5); /* Soft shadow for modern look */
}

.login-form {
    max-width: 100%;
    margin: 0;
    padding: 40px;
    background-color: #ffffff; /* White background inside the form */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for form box */
}

.login-form h1{
    font-weight: 200px;
    font-size: 30px;
}

/* Style for labels */
.label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-align: left;
    
}

/* Style for input fields */
.input-field,
.role-select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #b2dfdb;
    background-color: #e0f2f1; /* Light blue input fields */
    border-radius: 8px;
    transition: border-color 0.3s ease;
    text-align: left;
}

/* Change border color on focus */
.input-field:focus,
.role-select:focus {
    border-color: #00796b;
    outline: 0;
}

/* Style for error message */
.error-message {
    color: #d32f2f; /* Red color for error message */
    font-size: 14px;
    margin-top: 15px;
}

/* Style for submit button */
.MuiButton-root {
    background-color: #00796b; /* Dark blue-green for submit button */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in;
}

.MuiButton-root:hover {
    background-color: #004d40; /* Darker blue-green on hover */
}

/* Additional styling for select dropdown */
.role-select {
    cursor: pointer;
    background-color: #e0f2f1; /* Light blue dropdown */
}


